<div class="request documentation">
  <div class="col s8 offset-s2">
    <p class="title">Solicitar Credenciamento</p>
  </div>

  <div class="request-btn">
  <%= form_tag("/request", method: "request") do %>
    <button class="btn-floating btn-large" type="submit">
      <i class="large material-icons">add</i>
    </button>
  <% end %>
</div>

